#version: "3.9"
services:

  # Django Project:
  todoapp:
    container_name: todoapp
    build: .
    command: python3 manage.py runserver 0.0.0.0:8000
    volumes:
      - ./core:/app
    ports:
      - "8000:8000"
    restart: always
    environment:
      - SECRET_KEY=test
      - DEBUG=True
    depends_on: 
      - redis
      
  # Email Service:
  smtp4dev:
    image: rnwood/smtp4dev:v3
    restart: always
    ports:
      - '5000:80'
      - '25:25'
      - '143:143'
    volumes:
        - smtp4dev-data:/smtp4dev
    environment:
      - ServerOptions__Urls=http://*:80
      - ServerOptions__HostName=smtp4dev
  
  # Locust:
  master:
    image: locustio/locust
    ports:
     - "8089:8089"
    volumes:
      - ./core/locust:/mnt/locust
    command: -f /mnt/locust/locustfile.py --master -H http://todoapp:8089
  
  worker:
    image: locustio/locust
    volumes:
      - ./core/locust:/mnt/locust
    command: -f /mnt/locust/locustfile.py --worker --master-host master
  
  # Redis:
  redis:
    container_name: redis
    image: redis
    ports:
      - "6379:6379"
    command: redis-server --save 60 1 --loglevel warning
    restart: always

  # Celery Worker:
  celery-worker:
    build: .
    command: celery -A core worker --loglevel=info
    volumes:
      - ./core:/app
    depends_on:
      - todoapp
      - redis
  
  # Celery Beat:
  celery-beat:
    build: .
    command: celery -A core beat --loglevel=info
    volumes:
      - ./core:/app
    depends_on:
      - todoapp
      - redis

volumes:
  smtp4dev-data: