
name: Django CI/CD

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

  workflow_dispatch:

jobs:
  Test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Docker Compose
        run: docker compose -f docker-compose-stage.yml up -d --build
      - name: Run Tests
        run: docker compose exec todoapp sh -c "flake8 && pytest"
  
  Deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: Test
    if: ${{ always() && contains(join(needs.*.result, ','), 'success') && github.ref == 'refs/heads/master' }}
    steps:
      - uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.1.0
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd todoapp
            docker compose -f docker-compose-stage.yml stop
            git pull origin master
            docker compose -f docker-compose-stage.yml restart

